<%- include('../partials/header') %>
<h3>EDIT CONTACT INFO:</h3>
    <section id="profile">
        <span class="photo">
            <img class="userAv" alt="avatar" src="<%= lookUpUser.avatar %>" referrerpolicy="no-referrer">
            <a href="/users/<%= lookUpUser._id%>" class="userName">
                <%= lookUpUser.name %>
            </a>
        </span>
        <span class="edit-user-info">

            <form id="update-user" action="/users/<%= lookUpUser.id%>?_method=PUT" method="POST">
                <div class="line-info">
                    <label class="header-cell">EMAIL:</label>
                    <input type="text" name="email" value="<%=lookUpUser.email%>">
                </div>
                <div class="line-info">
                    <label class="header-cell">PHONE:</label>
                    <input type="text" name="phone" value="<%=lookUpUser.phone%>">
                </div>
                <div class="line-info">
                    <label class="header-cell">OTHER:</label>
                    <input type="text" name="additionalContact" value="<%=lookUpUser.additionalContact%>">
                </div>
                <div class="line-info">
                    <label class="header-cell">DELIVERIES:</label>
                    <span>
                        <% offers.forEach((offer)=> { %>
                        <a href="/offers/<%= offer._id %>" class="offer-link">
                            <%=offer.departureDate.toLocaleDateString('en-us', { timeZone: 'GMT' , year:"numeric",
                                month:"numeric", day:"numeric"})%>
                        </a>▫️
                        <%})%>      
                    </span>

                </div>
                <div class="line-info">
                    <label class="header-cell">RATING:</label>
                    <span>
                        <% if(rating) {%>
                            <%= Math.round(rating*100)/100 %>
                                <%} else {%>
                                    <%}%>
                    </span>
                </div>
                <div class="edit">
                    <input type="submit" value="UPDATE">
</div>
            </form>
        </span>
    </section>


    <section id="reviews">


        <section class="reviews-list">
            <% if (reviews.length> 0) { %>
                <h2>REVIEWS:</h2>
                <% reviews.forEach(function(r) { %>
                    <section class="review">
                        <span class="picture">
                            <img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer">
                            <a href="/users/<%= r.user._id%>">
                                <%= r.userName %>
                            </a>
                            <a href="/offers/<%= r.offer%>">
                                DELIVERY OFFER
                            </a>
                        </span>
                        <span class="delivery-review">

                            <table>
                                <tr>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <%= r.content %>
                                    </td>
                                </tr>
                            </table>
                        </span>
                        <span class="rate">
                            <table>
                                <tr>
                                    <td>Communication rate:</td>
                                    <td class="grade">
                                        <%= r.communication %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cost rate:</td>
                                    <td class="grade">
                                        <%= r.cost %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Overall satisfaction rate:&nbsp&nbsp</td>
                                    <td class="grade">
                                        <%= r.overall %>
                                    </td>
                                </tr>
                            </table>
                        </span>
                    </section>
                    <% }); %>
                        <% } else { %>
                            <h3>NO REVIEWS YET</h3>
                            <% } %>

                                </tbody>
                                </table>
        </section>

        <%- include('../partials/footer') %>