<%- include('../partials/header') %>
<h3>USER INFORMATION:</h3>
    <section id="profile">
        <span class="photo">
            <img class="userAv" alt="avatar" src="<%= lookUpUser.avatar %>" referrerpolicy="no-referrer">
            <a href="/users/<%= lookUpUser._id%>" class="userName">
                <%= lookUpUser.name %>
            </a>
        </span>
        <span class="info">
            <table>
                <tbody>
                    <tr class="single-offer">
                        <td class="header-cell">EMAIL:</td>
                        <td>
                            <%= lookUpUser.email %>
                        </td>
                    </tr>
                    <tr class="single-offer">
                        <td class="header-cell">PHONE:</td>
                        <td>
                            <%= lookUpUser.phone %>
                        </td>
                    </tr>
                    <tr class="single-offer">
                        <td class="header-cell">OTHER:</td>
                        <td>
                            <%= lookUpUser.additionalContact %>
                        </td>
                    </tr>
                    <tr class="single-offer">
                        <td class="header-cell">DELIVERIES:</td>
                        <td>
                            <% offers.forEach((offer)=> { %>
                                <a href="/offers/<%= offer._id %>" class="offer-link">
                                    <%=offer.departureDate.toLocaleDateString('en-us', { timeZone: 'GMT' ,
                                        year:"numeric", month:"numeric", day:"numeric"})%>
                                </a>▫️

                                <%})%>
                        </td>
                    </tr>
                    <tr class="single-offer">
                        <td class="header-cell">RATING:</td>
                        <td>
                            <% if(rating) {%>
                                <%= Math.round(rating*100)/100 %>
                                    <%} else {%>
                                        <%}%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td class="edit">
                            <% if (user.googleId===lookUpUser.googleId) { %>
                                <button><a href="/users/<%=user.id%>/edit">EDIT CONTACT INFO</a></button>
                                <%} %>
                        </td>
                    </tr>

                </tbody>
            </table>
        </span>
    </section>

    <section id="reviews">


        <section class="reviews-list">
            <% if (reviews.length> 0) { %>
                <h2>REVIEWS:</h2>
                <% reviews.forEach(function(r) { %>
                    <section class="review">
                        <span class="picture">
                            <img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer">
                            <a href="/users/<%= r.user._id%>">
                                <%= r.userName %>
                            </a>
                            <a href="/offers/<%= r.offer%>">
                                DELIVERY OFFER
                            </a>
                        </span>
                        <span class="delivery-review">

                            <table>
                                <tr>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <%= r.content %>
                                    </td>
                                </tr>
                            </table>
                        </span>
                        <span class="rate">
                            <table>
                                <tr>
                                    <td>Communication rate:</td>
                                    <td class="grade">
                                        <%= r.communication %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cost rate:</td>
                                    <td class="grade">
                                        <%= r.cost %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Overall satisfaction rate:&nbsp&nbsp</td>
                                    <td class="grade">
                                        <%= r.overall %>
                                    </td>
                                </tr>
                            </table>
                        </span>
                    </section>
                    <% }); %>
                        <% } else { %>
                            <h3>NO REVIEWS YET</h3>
                            <% } %>

                                </tbody>
                                </table>
        </section>

        <%- include('../partials/footer') %>