<%- include('../partials/header') %>

    <section id="profile">
        <span class="photo">
            <img class="userAv" alt="avatar" src="<%= lookUpUser.avatar %>" referrerpolicy="no-referrer">
        </span>
        <span class="info">
            <table>
                <th>
                    <tr>
                        <a href="/users/<%= lookUpUser._id%>" class="userName">
                            <%= lookUpUser.name %>
                        </a>
                    </tr>
                </th>
                <tr>
                    <td>Email:</td>
                    <td>
                        <%= lookUpUser.email %>
                    </td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>
                        <%= lookUpUser.phone %>
                    </td>
                </tr>
                <tr>
                    <td>Deliveries:</td>
                    <td>
                        <%= lookUpUser.deliveries %>
                    </td>
                </tr>
                <tr>
                    <td>Rating:</td>
                    <td>
                        <%= lookUpUser.rating %>
                    </td>
                </tr>
                <% if (user) { %>
                    <tr>
                        <td>
                            <button>Edit contact info</button>
                        </td>
                    </tr>
                    <%} %>
            </table>
        </span>
    </section>
    <section id="reviews">
        
        <% if (user) { %>
            <form id="add-review-form" method="POST" action="/users/<%= lookUpUser._id%>">
                <label>Create a review:</label><br>
                <textarea class="review-body" name="content"></textarea><br>
                <label>Rate communication:
                <select class="rating" name="communication">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5" selected>5</option>
                </select></label><br>
                <label>Rate cost:
                <select class="rating" name="cost">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5" selected>5</option>
                </select></label><br>
                <label>Rate overall satisfaction:
                <select class="rating" name="overall">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5" selected>5</option>
                </select></label><br>
                <input type="submit" value="Add Review">
            </form>
            <% } %>
    </section>
    <h2>Reviews</h2>
    <section class="reviews-list">
        <% if (user.reviews.length) { %>
            <% user.reviews.forEach(function(r) { %>
                <section class="review">
                    <span class="picture">
                        <img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer">
                        <a href="/users/<%= user._id%>">
                            <%= r.userName %>
                        </a>
                    </span>
                    <span class="delivery-review">
                        <table>
                            <tr>
                                <td>
                                    delivery
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <%= r.content %>
                                </td>
                            </tr>
                        </table>
                    </span>
                    <span class="rate">
                        <table>
                            <tr>
                                <td>Communication rate:</td>
                                <td class="grade">
                                    <%= r.communication %>
                                </td>
                            </tr>
                            <tr>
                                <td>Cost rate:</td>
                                <td class="grade">
                                    <%= r.cost %>
                                </td>
                            </tr>
                            <tr>
                                <td>Overall satisfaction rate:&nbsp&nbsp</td>
                                <td class="grade">
                                    <%= r.overall %>
                                </td>
                            </tr>
                        </table>
                    </span>
                </section>
                <% }); %>
                    <% }; %>

                        </tbody>
                        </table>
    </section>

    <%- include('../partials/footer') %>